*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}
body{
   /*background-color:#013f3f;*/
   background-image: linear-gradient(to bottom right, #091c18, #113130);
   
}
.navbar
{
    width:100%;
    position:fixed;
    z-index:1000;
    justify-content: space-between;
    padding:7px 50px;
    background-color:#000000;
    transition: 0.5s;
    align-items: center;
    
}
.logo
{
    color:#fff;
    font-style: italic;
    font-family: 'Cursive',sans-serif;
    font-size:2em;
    font-weight: 700;
    text-decoration: none;
}

.logo a{
    text-decoration: none;
    box-shadow:0 0 10px #008080;
}
.nav-item{
    padding-left: 2rem;
    margin: 10px;
    color:#fff;
    border-radius: 5px;
}
.nav-link {
    padding:10px 20px;
    color:white;
}
.nav-item a:hover{
    background-color:#000000;
    color:white;
    box-shadow:0 0 10px #008080;

}
.btn{
    color: white;
    border-color: #008080;

}
.btn:hover {
    /* Add hover styles here */
    background-color: #000000;
    color:white;
    box-shadow:0 0 10px #008080;
    
}
.custom-footer {
    color: white;
    /* Optional: Change text color to white for better visibility */
  }

  .card {
    background-color: black;
    justify-content: center;
    text-align: center;
  }

  .footer {
    background-color: #24262b;
    padding: 70px 0;
    padding-left: 12rem;
  }

  .footer-col {
    width: 25%;
    padding: 0 10px;
    padding-left: -80px;
  }

  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }

  .footer-col .social-links a {
    display: inline-block;
    height: 35px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }





  