*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}
body{
   /*background-color:#013f3f;*/
   background-image: linear-gradient(to bottom right, #091c18, #113130);
   
}
.navbar
{
    width:100%;
    position:fixed;
    z-index:1000;
    justify-content: space-between;
    padding:7px 50px;
    background-color:#000000;
    transition: 0.5s;
    align-items: center;
    
}
.logo
{
    color:#fff;
    font-style: italic;
    font-family: 'Cursive',sans-serif;
    font-size:2em;
    font-weight: 700;
    text-decoration: none;
}

.logo a{
    text-decoration: none;
    box-shadow:0 0 10px #008080;
}
.nav-item{
    padding-left: 2rem;
    margin: 10px;
    color:#fff;
    border-radius: 5px;
}
.nav-link {
    padding:10px 20px;
    color:white;
}
.nav-item a:hover{
    background-color:#000000;
    color:white;
    box-shadow:0 0 10px #008080;

}
.btn{
    color: white;
    border-color: #008080;

}
.btn:hover {
    /* Add hover styles here */
    background-color: #000000;
    color:white;
    box-shadow:0 0 10px #008080;
    
}





  